<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.three.enjoytheworld">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FindSecondAcivity" />
        <activity android:name=".AuthorItemActivity" />
        <activity android:name=".AuthorDetailActivity" />
        <activity android:name=".HandPick_WebViewActivity" />
        <activity android:name=".FindThreeActivity" />
        <activity android:name=".ZhuanTiActivity" />
        <activity
            android:name=".HandPick_ShowItem_Activity"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name=".HandPick_Vitamio"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="landscape">
            <!--
             android:screenOrientation="landscape"
             android:configChanges="keyboardHidden|orientation"
             这两句为设置横屏和竖屏，在屏幕切换的时候默认为重新走OnCreate方法
             当设置了configChange之后就不会再重新走onCreate方法
             -->
        </activity>
    </application>

</manifest>